psycopg2-binary
django-filter
django_nose
drf_yasg
django-cors-headers
drf-spectacular
drf_spectacular_sidecar
asgiref            
astroid            
attrs              
black              
certifi
psycopg2-binary            
charset-normalizer
click  
coreapi
coreschema
dateutils
objects
dill   
django 
django-cors-headers 
django-debug-toolbar
django-environ
django-extensions
django-nose
django-rest-framework-braces
djangorestframework 
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
drf-yasg
idna             
inflection     
iniconfig    
isort           
itypes           
jinja2         
jsonschema
lazy-object-proxy
markupsafe     
mccabe         
mypy-extensions
nose    
packaging
pathspec
pillow
platformdirs
pluggy
py
pyaml
pyjwt
pylint
pyotp
pyparsing
pyrsistent        
pytest            
python-dateutil   
python-http-client
pytz       
pyyaml     
requests   
ruamel.yaml
ruamel.yaml.clib
sendgrid
six    
sqlparse
starkbank-ecdsa
tomli  
tomlkit
uritemplate
urllib3
wrapt
